* {
border: none;
border-radius: 10px;
font-family: "Terminus (TTF) Nerd Font", FontAwesome, sans-serif;
font-size: 14px;
min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}

#workspaces,
#window,
#cpu,
#memory,
#pulseaudio,
#network,
#clock,
#battery,
#tray,
#custom-power,
#custom-player,
#custom-cava-left,
#custom-cava-right {
background-color: #1C1C1C;
color: #ffffff;
padding: 0 10px;
margin: 5px 4px;
border: 1px solid #333333;
}

#workspaces button {
padding: 0 5px;
min-width: 20px;
color: #888888;
background-color: transparent;
}

#workspaces button:hover {
background: rgba(255, 255, 255, 0.1);
}

#workspaces button.active {
color: #3366FF;
}

#workspaces button.urgent {
color: #FF0000;
}

#cpu,
#custom-power {
color: #FF0000;
}

#memory {
color: #3366FF;
}

#custom-player {
color: #c2d7de; /* Changed from #FFFFFF */
}

#battery.critical:not(.charging) {
background-color: #FF0000;
color: #ffffff;
}

#custom-cava-left {
color: #FF0000;
}

#custom-cava-right {
color: #3366FF;
}

#custom-player.Paused {
color: #FF0000;
}

#custom-cava-left,
#custom-cava-right {
background-color: transparent;
border: none;
}
