configuration {
    drun-launch-command: "~/.config/hypr/scripts/rofi_runner.sh {id}";
}

configuration {
  modi: "drun";
  show-icons: true;
  icon-theme: "Papirus-Dark"; /* Or OneUI */
  font: "Terminus (TTF) Nerd Font 12";
  display-drun: "Apps";
  drun-display-format: "{name}";
  sidebar-mode: false;
}
@theme "theme.rasi"
